@import "tailwindcss";

:root {
  --background: #fefefe;
  --foreground: #111111;
}

@theme inline {
  --color-primary-background: var(--background);
  --color-primary-foreground: var(--foreground);
  --color-primary-pink: #b09bdb;
  --color-primary-purple: #7362da;
  --color-primary-dark-gray: #545454;
  --font-nunito: var(--font-nunito);
  --font-skillet-condensed: var(--font-skillet-condensed);
}

@theme {
  --animate-spin-slow: spin 3s linear infinite;
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  --animate-spill-coffee: spill-coffee ease-in infinite;

  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }

  @keyframes spill-coffee {
    0% {
      transform: rotate(-3deg);
    }
    100% {
      transform: rotate(3deg);
    }
  }
}
